$body-color: #fff;
html, body {
  background: $body-color; 
  height: 100%;
  width: 100%;
  margin: 0;
}

.hidden { display: none; }

#wrapper{
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

#main{
  margin: 0 auto -2em;
  width: 850px;

  .left { float:left; width: 400px; }
  .right { float: right; width: 400px; }
  .bottom { clear:both; text-align: center; margin-top: 800px;}
  #check-answer-button { clear:both; text-align: center; margin-top: 200px;}
}

#header{
  background: darken($body-color, 25%);
  padding: 1em;
}

#footer{
  background: darken($body-color, 25%);
  height: 2em;
  width: 100%;
  text-align: center;
  p { position:relative; top:30%; margin:0;}
}

 .push {height: 2em; /* NOTE, this should be same as -margin on main */}
