$body-color: #fff;
html, body {
  background: $body-color; 
  height: 100%;
  width: 100%;
  margin: 0;
}

.hidden { display: none; }

@mixin rounded($radius: 10px) {
  -moz-border-radius:    $radius;
  -webkit-border-radius: $radius;
  border-radius:         $radius;
}

blockquote {
  border-left: solid 1px darken($body-color, 25%);
  padding: 3px 10px;
}

#wrapper{
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

#main{
  margin: 0 auto -2em;
  width: 850px;

  .left { float:left; width: 400px; padding: 10px; @include rounded(5px); }
  .right { float: right; width: 400px;  padding: 10px; @include rounded(5px);}
  .top { p { font-size: 10pt; padding-left: 20px; margin-top: -15px;} }
  .bottom { clear:both; text-align: center; margin-top: 200px;}
  #check-answer-button { clear:both; text-align: center; margin-top: 200px;}
  .patent-info { text-align: center; }
}

#header{
  background: darken($body-color, 25%);
  padding: 1em;
  font-size: 1em; 
  img {float: right; }
}

#footer{
/*  background: darken($body-color, 25%); */
  height: 2em;
  width: 100%;
  text-align: center;
  font-size: 8pt; 
  img {vertical-align:bottom; }
  p { position:relative; margin:0;}
  a {padding: 0 2px 0 2px; }
}

 .push {height: 2em; /* NOTE, this should be same as -margin on main */}
