html, body {
  background: white;
  height: 100%;
  width: 100%;
  margin: 0; }

.hidden {
  display: none; }

blockquote {
  border-left: solid 1px #bfbfbf;
  padding: 3px 10px; }

#wrapper {
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%; }

#main {
  margin: 0 auto -2em;
  width: 850px; }
  #main .left {
    float: left;
    width: 400px;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
  #main .right {
    float: right;
    width: 400px;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
  #main .top p {
    font-size: 10pt;
    padding-left: 20px;
    margin-top: -15px; }
  #main .bottom {
    clear: both;
    text-align: center;
    margin-top: 200px; }
  #main #check-answer-button {
    clear: both;
    text-align: center;
    margin-top: 200px; }
  #main .patent-info {
    text-align: center; }

#header {
  background: #bfbfbf;
  padding: 1em;
  font-size: 1em; }
  #header img {
    float: right; }

#footer {
  /*  background: darken($body-color, 25%); */
  height: 2em;
  width: 100%;
  text-align: center;
  font-size: 8pt; }
  #footer img {
    vertical-align: bottom; }
  #footer p {
    position: relative;
    margin: 0; }
  #footer a {
    padding: 0 2px 0 2px; }

.push {
  height: 2em;
  /* NOTE, this should be same as -margin on main */ }
