html, body {
  background: white;
  height: 100%;
  width: 100%;
  margin: 0; }

.hidden {
  display: none; }

blockquote {
  border-left: solid 1px #bfbfbf;
  padding: 3px 10px; }

#wrapper {
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%; }

#main {
  margin: 0 auto -2em;
  width: 860px; }
  #main .hover-me:hover {
    background: #e6e6e6;
    cursor: pointer; }
    #main .hover-me:hover .real-q {
      display: inline; }
  #main .real-q {
    display: none;
    position: absolute;
    text-align: center;
    width: 90%;
    padding: 10px;
    bottom: 10px;
    color: green; }
  #main .correct-answer {
    background: #00ad13; }
  #main .left {
    position: relative;
    float: left;
    width: 400px;
    height: 170px;
    padding: 10px;
    text-align: center;
    font-size: 15pt;
    margin: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
  #main .right {
    position: relative;
    float: right;
    width: 400px;
    height: 170px;
    padding: 10px;
    text-align: center;
    font-size: 15pt;
    margin: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
  #main .top {
    margin-bottom: 25px; }
    #main .top p {
      font-size: 10pt;
      padding-left: 20px;
      margin-top: -15px; }
  #main .bottom {
    clear: both;
    text-align: center;
    margin-top: 200px; }
  #main #control-area {
    clear: both;
    text-align: center;
    margin-top: 250px;
    height: 60px; }
  #main .patent-info {
    text-align: center; }
  #main #stats-area {
    position: relative;
    margin: auto;
    width: 600px; }
  #main .stat {
    font-size: 20pt;
    padding: 10px;
    display: inline; }

#header {
  background: #bfbfbf;
  padding: 1em;
  font-size: 1em; }
  #header img {
    float: right; }

#footer {
  /*  background: darken($body-color, 25%); */
  height: 2em;
  width: 100%;
  text-align: center;
  font-size: 8pt; }
  #footer img {
    vertical-align: bottom; }
  #footer p {
    position: relative;
    margin: 0; }
  #footer a {
    padding: 0 2px 0 2px; }

.push {
  height: 2em;
  /* NOTE, this should be same as -margin on main */ }
